*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #30343F;
    height: 100vh;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 120px;
    
}
nav h1 {
    padding-bottom: 10px;
    color: #FFFF;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
}
nav button {
    padding: 10px 10px;
    margin: 0 5px 0 5px;
    color: #FFFF;
    background-color: #0000;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    border: 0;
}

/* ESTILOS HOVER NAV*/

nav button:hover {
    background-color: #4A4B44;
    border-radius: 2px;
}

/* SECCION MAIN */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.contenedor-meme{
    width: 500px;
    height: 500px;
    margin: 20px 0 20px 0;
    background-color: #ffff;
}
.contenedor-meme p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    
}
.contenedor-meme div{
    background-color: black;
    height: 70%;
}

.boton-descargar-meme{
    padding: 10px;
    border: 0;
    color: #ffff;
    background-color: #1B5E20;
}

/* SECCION ASIDE */

aside{
    background-color: #252935;
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 30px 15px;
}

form{
    color: #ffff;
    font-size: 13px;
}
form h2{
    text-align: center;
}
form fieldset{
    margin: 15px 0 15px 0;
    border: 0;
}


.contenedor-input-color{
    background-color: #30343F;
}

.contenedor-filtros{
    display: flex;
    flex-direction: column;
}
